@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    overflow: hidden;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    z-index: 999;
}

#mainBtn {
    min-width: 100px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    background: #88490e;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

#mainBtn:hover {
    background: #683607;
    color: #fff;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leaf {
    color: rgb(224, 113, 39);
    font-size: 2rem;
    padding: 1rem;
    animation: fallAndSpin 2s linear forwards infinite;
    animation-delay: 1s;
} 

 .snow {
    color: #eef1f1;
    font-size: 1rem;
    height: 20px;
    animation: fall 2s linear forwards infinite;
    animation-delay: 1s;
} 

 
.flower {
    position: abosulte;
    width: 30px;
    height: 30px;
    animation: flowers 2s linear forwards infinite;
    animation-delay: 1s;
    opacity: 0;
}

#sun {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    border-radius: 100%;
    /* background: linear-gradient(to bottom,  #FECC51, #FCB033, #FA8607); */
    background: #ffff77;
    box-shadow: 0 0 50px #ffff77;
    filter: drop-shadow(5px 5px 0.75rem #be9628);
    animation: sun 2s ease-in 1s alternate both running ;
}

.hidden {
    display: none;
}



@keyframes sun {
    0% {
        transform: translateX(60px) translateY(-30vh) rotate(0deg);
        }
    100% {
        transform: translateX(60px) translateY(5vh) rotate(180deg);

    }
}


@keyframes fallAndSpin {
    0% {
        transform: translateX(0) translateY(-10vh) rotate(0deg);
    }
    50% {
        transform: translateX(50vw) translateY(50vh) rotate(90deg);
    }
    100% {
        transform: translateX(100vw) translateY(100vh) rotate(180deg);
    }
}


@keyframes fall {
    from {
      transform: translateY(-10vh);
    }
    to {
      transform: translateY(100vh);
    }
  }

@keyframes flowers{
    0% {
      top: -10%;
      opacity: 1;
      transform: translateY(-10vh) rotate(0deg);
    }
    100% {
      top: calc(100vh - 30px);
      opacity: 1;
      transform: translateY(100vh) rotate(180deg);
    
    }
}


