body {
    background: url(./img/luke-dean-weymark-o_rKNRoNz8s-unsplash.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}


.container {
    position: relative;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .leaf {
    color: rgb(224, 113, 39);
    font-size: 2rem;
    padding: 1rem;
    animation: fallAndSpin 2s linear forwards infinite;
    animation-delay: 1s;
} */

/* .snow {
    color: #eef1f1;
    font-size: 1rem;
    height: 20px;
    animation: fall 2s linear forwards infinite;
    animation-delay: 1s;
} */

/* 
.flower {
    position: abosulte;
    width: 30px;
    height: 30px;
    animation: flowers 2s linear forwards;
    animation-delay: 1s;
    opacity: 0;

} */

.sol {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    border-radius: 100%;
    background: linear-gradient(to bottom,  #FECC51, #FCB033, #FA8607);
    filter: drop-shadow(5px 5px 0.75rem #be9628);
    animation: sun 2s ease-in 1s alternate both running ;
}

.sun {
    width: 250px;
    height: 250px;
}

@keyframes sun {
    0% {
        transform: translateX(60px) translateY(-30vh) rotate(0deg);
        fill: #f1c40f; 
        }
    100% {
        transform: translateX(60px) translateY(5vh) rotate(180deg);
        fill: #f1c40f; stroke:#f1c40f;
    }
}

@keyframes fallAndSpin {
    0% {
        transform: translateX(0) translateY(-10vh) rotate(0deg);
    }
    50% {
        transform: translateX(50vw) translateY(50vh) rotate(90deg);
    }
    100% {
        transform: translateX(100vw) translateY(100vh) rotate(180deg);
    }
}


@keyframes fall {
    from {
      transform: translateY(-10vh) rotate(0deg);
    }
    to {
      transform: translateY(100vh) rotate(180deg);
    }
}

@keyframes flowers{
    0% {
      top: -10%;
      opacity: 1;
      transform: translateY(-10vh) rotate(0deg);
    }
    100% {
      top: calc(100vh - 30px);
      opacity: 1;
      transform: translateY(100vh) rotate(180deg);
    
    }
}


/* 
  animation: 3s ease-in 1s infinite reverse both running slidein; */

  /* Outono */
/* body {
    background: url(./img/autumnbg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
} */
  
  /* Inverno */
/* body {
    background: url(./img/winterbg.jpg) no-repeat;
    background-size: 100% 100vh;
    overflow: hidden;
} */

  /* Primavera */
  /* body {
    background: url(./img/alex-grodkiewicz-cSwO_dTgzq4-unsplash.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
} */


  /* Verão */
